spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jackpot
    username: jackpot
    password: jackpotpassword
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

server:
  port: 8080
