version: "3.8"

services:

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: jackpot
      POSTGRES_USER: jackpot
      POSTGRES_PASSWORD: jackpotpassword
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      SPRING_PROFILES_ACTIVE: docker

volumes:
  pgdata:
